<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225586230501-jk7fq0vdf38e7u0orh4i21olc2366o0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225586230501-jk7fq0vdf38e7u0orh4i21olc2366o0c</string>
	<key>API_KEY</key>
	<string>AIzaSyC59eHX2z-5P4eRRaGTXIrZct6R_9UD3rc</string>
	<key>GCM_SENDER_ID</key>
	<string>225586230501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.project</string>
	<key>PROJECT_ID</key>
	<string>trannew-7a56d</string>
	<key>STORAGE_BUCKET</key>
	<string>trannew-7a56d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225586230501:ios:12164f93c8dd52e817d00c</string>
	<key>DATABASE_URL</key>
	<string>https://trannew-7a56d.firebaseio.com</string>
</dict>
</plist>